<%# app/views/fetch.html.erb %>

<%#= @products.first.inspect %>
<h2>Image Fetch for RageOn Product Image Management</h2>
<h3><%= @count %> Total Products Found</h3>
<h3><%= @procd %> Total Products Assessed</h3>
<h3>Completed <%= @total %> Requests:</h3>
<div id="results" style="display: none">
  <% @results.each_with_index do |result, rcount| %>
  <div id="result_<%= rcount %>"><%= result.to_json %></div>
  <% end %>
</div>
<%= react_component 'Images', { data: @images, links: @links} %>